__pycache__/

# Ignore Word/Google docs
*.gdoc
*.docx
*.xlsx

*.pyc
*.pyo
*.pyd
.venv/
.env

# Ignore dbt - it has its own GitHub repo
dbt_healthcare/*

# Ignore iteration architecture images
assets/architecture/Healthcare_Project_DLL*

# Ignore large data files
rawdata/*.csv

# Ignore log files
logs/*

# Ignore notebook checkpoint saves
.ipynb_checkpoints/

# Ignore local_only files
local_only/*

.DS_Store
Thumbs.db

# Ignore google drive API files
GoogleDrive_API/*

# Ignore anything under venv
venv/*
