__pycache__/

# Ignore Word/Google docs
*.gdoc
*.docx
*.xlsx

*.pyc
*.pyo
*.pyd
.venv/
.env

# Ignore large data files
rawdata/*.csv

# Ignore notebook checkpoint saves
.ipynb_checkpoints/

.DS_Store
Thumbs.db

# Ignore google drive API files
GoogleDrive_API/*
